.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.header .brand-logo {
  position: static;
  margin-left: 10px;
  font-size: 1.5rem;
}

.header .currency-select input {
  margin: 0;
  color: #fff;
  border: none;
}

.header .currency-select input:focus {
  border: none;
}

.header .currency-select .caret {
  fill: #fff;
}


.ticket-card {
  padding: 10px 15px;
}

.ticket-airline-name {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.ticket-airline-img {
  max-width: 100px;
  margin-right: 20px;
}

.ticket-destination {
  margin-bottom: 10px;
  border-bottom: 1px dashed gray;
}

.ticket-destination .ticket-city {
  font-size: 26px;
  text-transform: uppercase;
}

.ticket-destination i.material-icons {
  font-size: 26px;
}

.ticket-time-departure {
  font-weight: bold;
  color: gray;
}

.ticket-price {
  font-size: 25px;
  padding: 5px;
  background: #6a1b9a;
  color: #fff;
}

.ticket-additional-info {
  font-size: 14px;
  font-weight: bold;
}

.tickets-empty-res-msg {
  padding: 10px 15px;
  text-align: center;
  background: whitesmoke;
  font-weight: bold;
  font-size: 18px;
}

#dropdown1.visible {
  display: block;
  left: 0;
  opacity: 1;
}

.favorites {
  position: relative;
  margin-left: 15px;
}

.favorites .dropdown-content {
  width: 400px !important;
  color: #000;
}

.favorites .favorite-item-airline-img {
  max-width: 100px;
  margin-right: 10px;
}

.favorites .favorite-item-info {
  flex-grow: 1;
  padding: 10px;
  line-height: 1;
  height: auto;
}

.favorites .favorite-item-info .material-icons {
  line-height: 1;
  height: auto;
}

.favorites .favorite-item-destination {
  border-bottom: 1px dashed gray;
  margin-bottom: 5px;
}

.favorites .ticket-price {
  font-size: 18px;
  font-weight: bold;
}

.favorites .ticket-additional-info {
  font-size: 12px;
}

.favorites .ticket-time-departure {
  font-size: 14px;
}

.favorites .delete-favorite {
  margin-top: 10px;
}

.ticket-card {
  padding: 10px 15px;
}

.ticket-airline-name {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}

.ticket-airline-img {
  max-width: 100px;
  margin-right: 20px;
}

.ticket-destination {
  margin-bottom: 10px;
  border-bottom: 1px dashed gray;
}

.ticket-destination .ticket-city {
  font-size: 26px;
  text-transform: uppercase;
}

.ticket-destination i.material-icons {
  font-size: 26px;
}

.ticket-time-departure {
  font-weight: bold;
  color: gray;
}

.ticket-price {
  font-size: 25px;
  padding: 5px;
  background: #6a1b9a;
  color: #fff;
}

.ticket-additional-info {
  font-size: 14px;
  font-weight: bold;
}

.ticket-card .add-favorite {
  margin-top: 10px;
}

.favorites-empty-res-msg {
  padding: 5px 15px;
  text-align: center;
  background: whitesmoke;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 992px) {
  nav .brand-logo {
    transform: translateX(0);
  }

  nav ul {
    max-width: 125px;
  }

  .ticket-destination .ticket-city {
    font-size: 16px !important;
  }
}

@media (max-width: 992px) {
  .header .brand-logo {
    font-size: 18px;
  }
}